/*Estilos de tu proyecto*/
* {
    margin: 0;
    padding: 0;
}
.hero{
    background-image: url(../assets/images/hero.gif);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center ;
    width: 100%;
}
.logo-encabezado{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 0;
}    
.lista-menu a {
   color: white;
   text-decoration: none;
   margin: 10px;
   cursor: pointer;
}
.lista-menu button {
   background: transparent;
   border: 1px solid white;
   color: white;
   padding: 10px 20px;
   border-radius: 5px;
}
.logo{
   width: 100px;
}
.phone{
   width: 500px;
} 
.solicitud {
   display: flex;
   justify-content: flex-end;
}
.formulario {
   background-color: white;
   padding: 40px;
   width: 100%;
   max-width: 40%;
}
.caracteristicas {
   background-image: linear-gradient(#76278F, #2B1E66);
   display: flex;
   color: white;
   padding: 50px;
}
.video {
   display: flex;
   width:100%;
} 
  